<body>
  <div class="flex-container">
    <div class="flex-item">
      <form class="get-git-user">
        <label for="gitUsername">Username:</label>
         <input class="form-control" type="text" placeholder="Enter a GitHub username" name="username" [(ngModel)] ="username" (keyup)="searchUser()">
      </form>
    </div>
  </div>

  <div class="flex-container">
    <div class="flex-item">
      <div>
    <img class="profile-img img-thumbnail" src="{{user.avatar_url}}">
    <ol>
    <li><p style="font-weight:bold;">{{user.name}}</p>
    <li><p>{{user.login}}</p></li>
    <li><p>{{user.location}}</p></li>
    <li><p>{{user.email}}</p></li>
    <li><p>{{user.organisation}}<img src="{{user.organizations_url}}"></p></li>
  </ol>
 </div>
  <div class="col-md-4">
    <div class="track">
      <p style="border-bottom:solid;border-color:purple; padding-bottom:15px;">Repositories:  <span class=label-label-primary >{{user.public_repos}}</span></p>
   </div>
   <div class="panel panel-default">
     <div class="panel-heading">
       <h3 class="panel-title">Repos</h3>
     </div>
     <div class="panel-body">
       <div *ngFor ="let repo of repos">
       <div class="row">
         <div class="col-md-9">
           <h4><a href="user.html_url" target="_blank">{{repo.name}}</a></h4>
           <p>{{repo.description}}</p>
             </div>
           </div>
         </div>
       </div>
    </div>
  </div>
 </div>
</div>
</body>
